.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 21.875rem;
  width: 100%;
  margin-top: 5rem;
}

.imageSection {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.contentSection {
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: hsl(0, 0%, 100%);
}
