.priceSection {
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
}

.discountedPrice {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}

.originalPrice {
  font-size: 0.8125rem;
  line-height: 120%;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  align-self: center;
}
